name: Publish
on: push

jobs:
  build:
    name: Publish On Version Bump
    runs-on: ubuntu-latest
    steps:
      - name: Checkout the repository
        uses: actions/checkout@v3
        with:
          fetch-depth: 2
      - name: Check Version Bump
        id: check_version_bumb
        run: |
          target=$(find . -type f -name "config.yaml" -exec dirname {} \; | awk -F'/' '{print $NF}')
          c=$(grep version < ${target}/config.yaml | grep -o '[0-9\.]*');
          p=$(git show HEAD~1:${target}/config.yaml 2> /dev/null)
          if [ $? -eq 128 ]; then
            p=0
          else
            p=$(echo "$p" | grep version | grep -o '[0-9\.]*');
          fi;
          echo "Current version: $c"
          echo " Commit version: $p"
          if [[ ! -z "$c" && "$c" != "$p" ]]; then
            echo "New version detected: $c"
            echo VERSION_BUMP=true >> $GITHUB_ENV;
          else
            echo "No version change"
          fi
      - name: Login to DockerHub
        if: env.VERSION_BUMP == 'true'
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      - name: Publish
        if: env.VERSION_BUMP == 'true'
        uses: home-assistant/builder@master
        with:
          args: |
            --amd64 --aarch64 \
            --target $(find . -type f -name "Dockerfile" -exec dirname {} \; | awk -F'/' '{print $NF}') \
            --docker-hub ${{ secrets.DOCKERHUB_USERNAME }}
